<div class="card my-3">
    <img class="card-img-top" style="width: 100%; margin: auto; padding: 1rem 1rem 0 1rem;" src="/sponsor-logos/{{.Params.logo}}" alt="{{.Title}} logo">
    <div class="card-body">
        <h5 class="card-title">{{.Title}}</h5>
        <p class="card-text">{{.Content}}</p>
        <a href="{{.Params.link}}" class="btn btn-primary">Link to website</a>
    </div>
</div>