{{partial "head.html" .}}

{{if ne .Content ""}}
    <h1>{{.Title}}</h1>
    {{.Content}}
{{end}}

<h2>Upcoming events:</h2>
{{.Render "upcoming-event-list"}}

<hr>
<h2>Past events with protocols:</h2>
<ul>
{{range sort .Pages ".Params.start" "desc"}}
    {{$start:=time .Params.start}}
    {{if lt $start now}}
        {{.Render "event-summary"}}
    {{end}}
{{end}}
</ul>

{{partial "footer.html" .}}
