<div class="card">
    <div class="card-header border-0 py-3 d-flex align-items-center">
        {{if (fileExists (printf "static/avatars/%s.jpg" .File.BaseFileName))}}
        <img src="/avatars/{{.File.BaseFileName}}.jpg" alt="{{.File.BaseFileName}}'s avatar"
            class="rounded-circle align-self-start mr-3"
            style="width: 5rem;">
        {{end}}
        <div>
            <h2 class="card-title">{{.File.BaseFileName}}</h4>
            <h6 class="card-subtitle text-muted">{{.Title}}</h6>
        </div>
    </div>
    {{with .Summary}}
    <div class="card-body">
        {{.}}
    </div>
    {{end}}
    {{with .Params.links}}
    <div class="card-body">
    {{range .}}
        {{range $key, $value := .}}
            <a href="{{$value}}" class="card-link">{{$key}}</a>
        {{end}}
    {{end}}
    </div>
    {{end}}
</div>
